apiVersion: apps/v1
kind: Deployment
metadata:
  name: mysql
  namespace: kube-system
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mysql
  template:
    metadata:
      labels:
        app: mysql
    spec:
      containers:
      - name: mysql
        image: docker.io/npool/mysql:8.0.44.1
        imagePullPolicy: IfNotPresent
        command:
        - /bin/sh
        - -c
        - |
          /usr/local/bin/docker-entrypoint.sh mysqld --mysql-native-password=ON
        env:
        - name: ENV_ENVIRONMENT_TARGET
          valueFrom:
            configMapKeyRef:
              name: system-environment
              key: environment.target
        - name: ENV_CONSUL_HOST
          valueFrom:
            configMapKeyRef:
              name: system-environment
              key: environment.consul_host
        - name: ENV_CONSUL_PORT
          valueFrom:
            configMapKeyRef:
              name: system-environment
              key: environment.consul_port
        - name: ENV_PMM_ADMIN_PASSWORD
          valueFrom:
            secretKeyRef:
              name: pmm-secret
              key: PMM_ADMIN_PASSWORD
        - name: ENV_CLUSTER_NAMESPACE
          valueFrom:
            fieldRef:
              fieldPath: metadata.namespace
        - name: MYSQL_ROOT_PASSWORD
          valueFrom:
            secretKeyRef:
              name: mysql-password-secret
              key: rootpassword
        - name: MYSQL_PASSWORD
          valueFrom:
            secretKeyRef:
              name: mysql-password-secret
              key: rootpassword
        - name: MYSQL_USER
          valueFrom:
            secretKeyRef:
              name: mysql-password-secret
              key: username
        - name: MYSQL_ROOT_HOST
          value: "%"
        volumeMounts:
        - name: mysql
          mountPath: /var/lib/mysql
      volumes:
      - name: mysql
        persistentVolumeClaim:
          claimName: mysql-pvc
      - name: config-map
        configMap:
          name: mysql-configmap

