apiVersion: v1
kind: Secret
metadata:
  name: mysql-password-secret
  namespace: kube-system
stringData:
  username: "mysql"
  rootpassword: "$MYSQL_ROOT_PASSWORD"
  exporterpassword: "$MYSQL_EXPORTER_PASSWORD"
type: kubernetes.io/basic-auth
